version: '3.8'

services:
  db:
    image: mariadb:11
    container_name: pz_yeray_db
    deploy:
      resources:
        limits:
          memory: 400M
      restart_policy:
        condition: on-failure
    healthcheck:
      test: ["CMD", "mariadb", "-u", "${MYSQL_USER}", "-p${MYSQL_PASSWORD}", "-e", "SELECT 1 FROM usuarios LIMIT 1;"]
      interval: 30s
      timeout: 5s
      retries: 3
    env_file: .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - pz_mysql_data:/var/lib/mysql
      - ./sql/database.sql:/docker-entrypoint-initdb.d/database.sql
    ports:
      - "3307:3306"

  web:
    build: .
    container_name: pz_yeray_web
    depends_on:
      - db
    env_file: .env
    volumes:
      - ./src:/var/www/html
      - ./conf/000-default.conf:/etc/apache2/sites-available/000-default.conf
    ports:
      - "8080:80"
    deploy:
      resources:
        limits:
          memory: 300M
volumes:
  pz_mysql_data: